.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
/package-lock.json
typings
build
*.iml
appUser/docs/*.html
appAdmin/docs/*.html
logfile.log
pm2.json
controllers/invoice.pdf
*.pdf
.env